
/* customice Headerfields*/
/*.tl_search .tl_text{*/
	/*width: 300px;*/
/*}*/


#tl_moverview h2 {
    background: none repeat scroll 0 0 #f6f6f6;
    border-top: 1px solid #e9e9e9;
    margin: 18px 0 0;
    padding: 2px 6px 3px;
}

#tl_moverview .tl_module_desc {
    background: none repeat scroll 0 0 #fff;
    border-top: 1px solid #e9e9e9;
    padding: 8px 6px;
}
/* custom button-styles*/
.properties{
    background:url("../icons/process.png") no-repeat left center;
    margin-left: 15px;
    padding: 2px 0 3px 20px;
}
.export_csv{
	background:url("../icons/iconCSV.png") no-repeat left center;
    margin-left: 15px;
    padding: 2px 0 3px 20px;
}
.export_pdf{
	background:url("../icons/iconPDF.gif") no-repeat left center;
    margin-left: 15px;
    padding: 2px 0 3px 20px;
}
.check_reminder{
	background:url("../icons/refresh.png") no-repeat left center;
    margin-left: 15px;
    padding: 2px 0 3px 20px;
}
.loan_finish {
	background:url("../icons/ok.gif") no-repeat left center;
	color:green;
    margin-left: 15px;
    padding: 2px 0 3px 20px;
}

